.paddedbox {
  padding: 20px;
  font-size: 24px;
}

#name {
  background-color: #148f77;
  float: left;
  font-weight: bold;
  color: whitesmoke;
}

#about {
  border-bottom: 2px solid #839192;
  margin: 0px 20px;
  font-size: 24px;
  line-height: 3.0;
  color:  #148f77 ;
  font-weight: bold;
}

#navlinks {
  float:right;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  margin: 24px auto;
  color: #839192;
}

header {
  background: whitesmoke;
  border-bottom: 2px solid #839192;
  height: 64px;
}

#header-content {
  width: 960px;
  margin: 0px auto;
  background-color: whitesmoke;
}

footer {
  background: #839192;
  border-top: 5px solid #148f77;
  height: 48px;
  text-align: center;
  color: whitesmoke;
  font-size: 12px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.mid-body {
  width: 960px;
  margin: 20px auto 100px auto;
  background-color: whitesmoke;
  border: 1px solid #839192;
}

p {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  line-height: 1.8;
  margin: 0px 0px 20px 0px;
  color: #839192;
}

#textmargins {
  margin: 20px;
}

body {
  background-image: url("../images/lemons.jpg");
  background-repeat:repeat;
}

/* added */
html,
body {
 height: 100%;
 position: relative;
}

/* added */
#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  padding-bottom: 48px; /* height of your footer */
}

.card {
  border: 2px solid #839192;
}

#about-img {
  max-width: 25%;
  height: auto;
  float: left;
  border: 2px solid #839192;
  margin: 27px 20px 20px 20px;
}

#text-to-bottom {
  margin: 30px auto auto auto
}

 /* unvisited link */
 a:link {
  color: #839192;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #212f3c ;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #148f77;
}

/* selected link */
a:active {
  font-weight: bold;
}

/* forms styling */
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #839192;
  color: #212f3c;
  background-color: whitesmoke;
}

#resize-height-only {
  resize: vertical;
}

input[type=button], input[type=submit] {
  background-color: #148f77;
  border: none;
  padding: 10px 24px;
  margin: 4px 2px;
  cursor: pointer;
}

form, input, select {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  color: #839192;
}

#submit {
  color: whitesmoke;
  font-size: 14px;
}

/* review what these do */
* {
  box-sizing: border-box;
 }
 
 *:before,
 *:after {
  box-sizing: border-box;
 }

 /* gallery styles */
.gallery {
  margin: 5px;
  float: left;
  width: 600px;
  position: relative;
}

.gallery-img {
  max-width: 100%;
  position: absolute;
}